.Reports{
    height: 78vh;
    width: 75vw;
    font-family:Poppins;
    box-shadow: 1px 1px 3px 1px rgb(170, 170, 170);
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius:1vw;
    margin-left: 1vw;
    h3{
        font-size: 2vw;
            font-weight: bold;
            color: #332A7C;
    }
    .Drop-downs{
        display: flex;
        justify-content: space-around;
        padding-bottom: 1.5vw;
        font-size: 1.5vw;
        .gender{
           
            select{
                width: 11vw;
                padding: 0.5vw;
            }
        }
        .Part-no{
            select{
                width: 11vw;
                padding: 0.5vw;
            }
        }
        .Age{
            select{
                width: 11vw;
                padding: 0.5vw;
            }
        }
        .Caste{
            select{
                width: 11vw;
                padding: 0.5vw;
            }
        }
    }
    .Search{
        margin: 1.3vw 2vw;        
        border: 1px solid  #332A7C;
        width: 22vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0vw 1vw;
        border-radius: 1vw;
        .search-bar{          
            padding: 1.1vw;
            border: none;
            outline: none;
            
        }
        .search-icon{          
            font-size: 1.5vw;           
            color: #332A7C;
            
        }
    }
    .report-table{
        overflow-x: scroll; 
        width: 75vw;
        table{  
           
             
            thead{
                // font-weight: 500;
                background-color: #EFF0F5;
                color: #617099;
                font-size: 1.2vw;
                height: 4vw;
                
               th{                
                padding: 1vw;
               } 
            }
            tbody{
                tr{
                    height: 3vw;
                    td{
                        text-align: center;
                        font-size: 1.3vw;
                        color: #2A303F;
                    }
                }
            }
            
          
        }
    }
}
@media only screen and (max-width:768px){
    .Reports{
        height: 80vh;
        width: 100vw !important;
        h3{
            font-size: 6vw;
            margin-left: 0.8vw;
        }
        .Drop-downs{
            display: block;
            text-align: center;
            .gender{
                label{
                    font-size: 5vw;
                }
                select{                    
                        width: 80%;
                }
            }
            .Part-no{
                label{
                    font-size: 5vw;
                }
                select{                    
                        width: 80%;
                }

            }
            .Age{
                label{
                    font-size: 5vw;
                }
                select{                    
                        width: 80%;
                }
            }
            .Caste{
                label{
                    font-size: 5vw;
                }
                select{                    
                        width: 80%;
                }
            }
        }
        .Search{
            text-align: center;
           width: 80%;
           .search-bar{
            font-size: 5vw;
           }
           .search-icon{
            font-size: 3vw;
           }
        }
        .report-table{
            width: 100vw;
           table{
            thead{
                font-size: 3vw;
            }
            tbody{
                tr{
                    height: 3vh;
                    td{
                        font-size: 3vw;
                    }
                }
            }
           }
        }
    }
}